<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unique Camp</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/mohamed-aberkani.css">
</head>

<body>
    <main class="container">
        <audio id="squid-audio" controls loop>
            <source src="../assets/audio/instro.mp3" type="audio/mpeg">
        </audio>

        <span id="toggle-audio-btn" class="toggle-audio">
            <i id="play-icon" class="fa fa-play"></i>
            <i id="pause-icon" class="fa fa-pause" style="display: none;"></i>
        </span>

        <article>
            <section>
                <img class="avatar" src="../assets/img/coder-1.jpg" alt="picture of Mohamed Aberkani">
                <h1 class="name">Mohamed Aberkani</h1>
                <p class="description">FullStack Developer</p>
            </section>
            <section class="links-section">
                <a href="https://www.linkedin.com/in/mohamedaberkani/" target="_blank">Linkedin</a>
                <a href="https://github.com/aberkanimed" target="_blank">Github</a>
                <a href="https://twitter.com/Aberkanimed" target="_blank">Twitter</a>
            </section>
        </article>
    </main>
    <script src="../assets/js/app.js"></script>
</body>

</html>