@font-face {
    font-family: "GameOfSquidsFont";
    /* src: url("http://127.0.0.1:5500/assets/fonts/game_of_squids.ttf"); */
    src: url("https://aberkanimed.github.io/unique-camp-portfolio/assets/fonts/game_of_squids.ttf");
}

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-white: #F5F5F5;
    --clr-green: #347874;
    --clr-red: #BF4265;
    --clr-black: #303030;
    --clr-pink: rgba(191, 66, 101, 0.15);

    /* font-sizes */

    /* font-families */
    --ff-serif: "Bellefair", serif;
}

.avatar {
    margin-top: 1.5rem;
    border-radius: 50%;
    border: 5px solid var(--clr-red);
    height: 15rem;
    width: 15rem;
}

.go-back {
    position: fixed;
    top: 10px;
    left: 5px;
    color: var(--clr-white);
    font-size: x-large;
    background-color: var(--clr-black);
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 5px;
    border: 3px solid var(--clr-white);
}

.name {
    font-family: "GameOfSquidsFont";
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--clr-red);
    background-color: var(--clr-white);
    margin: 0 1rem 0 1rem;
    border: 5px solid var(--clr-red);
}

/* @supports (-webkit-text-stroke: 1px var(--clr-white)) {
    .name {
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: var(--clr-white);
        -webkit-text-fill-color: var(--clr-red);
    }
} */

.description {
    color: var(--clr-white);
    font-size: xx-large;
}

.links-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links-section a {
    text-decoration: none;
    background-color: var(--clr-red);
    color: var(--clr-white);
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    border: 5px solid var(--clr-white);
    font-size: x-large;
    font-weight: 700;
    text-transform: uppercase;
}

.links-section a:hover {
    background-color: var(--clr-white);
    border-color: var(--clr-red);
    color: var(--clr-red);
}

@media (min-width: 768px) {
    .name {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .name {
        font-size: 2rem;
    }
}